/*Farvekoder*/
farve1 {
color: #b7d9e1;
}
farve2 {
color: #78B1BF;
}
farve3 {
color: #549AB4;
}
farve4 {
color: #2b6d85;
}
farve5 {
color: #94382a;
}

* {
    margin: 0%;
}

.video-header{
    background-color: yellow;
}

.ikoner-top {
    background-color: deeppink;
}

.ikon {
    background-color: aqua;
    margin: 10%;
}

.information {
    background-color: greenyellow;
    
}

.infobox {
    background-color: lightsalmon;
    margin: 10%;
}

.reklamefilm {
    background-color: blueviolet;
    margin: 10%;
}

.faq {
    background-color: orange;
    margin: 10%;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
