
body {
    margin: auto;
    font-family: Arial;
    font-size: 22px;
    background-color: rgb(183, 217, 225);
  }
  
  .grid-container1{
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  }
p{
  text-align: center;
  font-size: 32px;
}

h1{
  text-align: center;
  grid-area: main;
  z-index: 10;
  grid-column: 1/2;
  color: white;
  margin-top: 15em;
}

h2, h3{
  text-align: center;
  margin: 2px;
}


  .video {
    grid-row: 1/4;
    width: 100%;
    z-index: -1;
    grid-column: 1/2;
  }

  #forsidebanner{
    width: 100%;
  }

 .logo{
    width: 15em;
    height: 5em;
    overflow: hidden;
    margin-right: 100px;
  }

  /* Navbar container */
  .navbar {
    margin-top: 2em;
    grid-area: header;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: Open Sans;
    z-index: 999;
  }
  
  /* Links inside the navbar */
  .navbar a {
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 0 2em;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 22px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 0.5em;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.sprog{
   width: 1.6em;
   height: 1.2em;   
  }

.button {
   border: none;
   color: white;
   background-color: #94382a;
   padding: 12px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 13px;
   margin: 2px 1px;
   cursor: pointer;
    }

.overgang{
width: 100%;
}



.calendar{
  display: flex;
  justify-content: center;
}

.str {
  height: 100px;
  width: 100px;
}

.infoboks{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.info img {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.wrapper{
  margin-top: 50px;
  width: 75%;
  position: relative;
  margin-left: 12.5%;
}

.wrapper i {
  top: 50%;
  height: 46px;
  width: 46px;
  position: absolute;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  line-height: 46px;
  background:white;
  border-radius: 50%;
  transform: translateY(-50%);
}

.wrapper i:first-child{
  left: -23px;
  display: none;
}

.wrapper i:last-child{
  right: -23px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow:hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  margin-left: 14px;
  width: calc(100% / 3);
}

.carousel img:first-child{
  margin-left: 0;
}

.video_banner {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_banner video {
width: 25%;
margin: 30px;
}
.video_banner:hover video {
  width: 350px;

}
.video_banner video:hover {
  width: 33%;
}

h4
{
  border-bottom:3px solid white;
  font: bolder;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer_grap{
    background-color: rgb(183, 217, 225);
}

.footer{
	background-color: rgb(43, 109, 133);
}
.footer-col{
   padding: 0 1em;
   margin-top: 3em;
}
.footer-col h4, h5{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 0.5em;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-decoration: none;
	font-weight: 300;
	color: white;
	display: block;
}
  
  .nyhedsbrev {
    color: rgb(43, 109, 133);
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 0;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color: #94382a;
  } 
  
  .sociale_medier {
    display: flex;
    margin-top: 30px;
  }

  .vinder, .tripadvisor
  {
    margin-top: 40px;
  }

  .persondata{
    background-color:rgb(183, 217, 225);
    text-align: center;
  }

  /*Farvekoder*/
farve1 {
  color: #b7d9e1;
  }
  farve2 {
  color: #78B1BF;
  }
  farve3 {
  color: #549AB4;
  }
  farve4 {
  color: #2b6d85;
  }
  farve5 {
  color: #94382a;
  }
  
  * {
      margin: 0;
      font-family: 'Open san', sans-serif;
  }
  
  html {
      background-color: #2b6d85;
  }
  
  p {
    font-size: 1em;
    color: #000;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 1.25em;
  }
  
  h1 {
    font-size: 2.5em;
    color: #549AB4;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 1.25em;
    text-align: center;
  }
  
  h2 {
    color: #000;
    font-size: 1.875em;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 1.25em;
    line-height: 1.2;
    text-align: center;
  }
  
  h3 {
    font-size: 1.125em;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
  }
  
  h4 {
    color: #000;
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 1.25em;
  }
  
  #headertext {
    color: #ffffff;
    text-shadow: 0.02em 0.02em #000;
    margin-top: -10em;
  }
  
  .video-header{
      background-color: yellow;
      margin: 0;
  }
  
  .ikoner-top {
      background-color: #ffffff;
      margin: 21.9em 0 0 0;
      padding: 0 19.5em 0 19.5em;
  }
  
  .ikon {
      background-color: #b7d9e1;
      margin: 1.875em 0 1.875em 0;
      color: #94382a;
      text-align: center;
      padding: 1em;
  }
  
  .information {
      background-color: #2b6d85;
      /*margin: 4em 4.375em 0 4.375em;*/
  }
  
  .infobox {
      background-color: #b7d9e1;
      color: #2b6d85;
      margin: 1.875em 0 1.875em 0;
      padding: 3.125em 3.5em;
      width: 29.3125em;
      height: 35.46975em;
  }
  .infobox2 {
    background-color: #b7d9e1;
    color: #2b6d85;
    margin: 1.875em 0 1.875em 0;
    padding: 3.125em 3.5em;
    width: 29.3125em;
    height: 42.765625em;
  }
  .infobox-img {
    width: 9.375em;
    height: 9.375em;
  }
  .center {
    text-align: center;
  }
  
  .reklamefilm {
      text-align: center;
      margin-top: 5em;
      width: auto;
  }
  
  .reklame {
    width: 1080px;
  }
  
  .faq {
      background-color: #ffffff;
      margin: 5em 0 1.875em 0;
      padding: 2em 5em 3em 5em;
      width: 70em;
  }
  .center-box {
    display: flex;
    justify-content: center;
  }
  
  .collapsible {
    background-color: #2b6d85;
    color: white;
    cursor: pointer;
    padding: 1.125em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.9375em;
    font-weight: bold;
  }
  
  .active, .collapsible:hover {
    background-color: #b7d9e1;
    color: #2b6d85;
    font-weight: bold;
  }
  
  .content {
    padding: 0 1.125em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #b7d9e1;
    color: #2b6d85;
  }
  
  .column {
      margin: 0;
      float: left;
      padding: 0.2rem;
      height: 100%; 
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .column2 {
      margin: 0;
      float: right;
      padding: 0.2rem;
      height: 100%; 
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

  .ikon-column {
      float: left;
      width: 33.33%;
      height: 100%; 
    }
 
    .ikon-row:after {
      content: "";
      display: table;
      clear: both;
    }
  
  .ikon-img {
      width: 4.375em;
      height: 4.375em;
  }

  @media screen and (max-width: 1200px){
    h1 {
      font-size: 2.25em;
    }
    
    h2 {
      font-size: 1.625em;
    }
    #headertext {
      margin-top: -8em;
    }

    .infobox {
      padding: 2.5em 2.5em;
      width: 22.2em;
      height: 39.3671875em;
    }

    .infobox2 {
      padding: 2.5em 2.5em;
      width: 22.2em;
      height: 53.660125em;
    }

    .ikoner-top {
      padding: 0 25%;
      margin: 15em 0 0 0;
    }
  }

  @media screen and (max-width: 900px){
    p {
      font-size: 0.875em;
    }
    
    h1 {
      font-size: 2em;
    }
    
    h2 {
      font-size: 1.375em;
    }
    #headertext {
      margin-top: -6em;
    }

    .infobox {
      margin: 1.875em 0 1.875em 0;
      padding: 1.875em 1.25em;
      width: 19.75em;
      height: 35.46975em;
    }

    .infobox2 {
      margin: 1.875em 0 1.875em 0;
      padding: 1.875em 1.25em;
      width: 19.75em;
      height: 50.389625em;
    }

    .ikoner-top {
      padding: 0 20%;
      margin: 9.2em 0 0 0;
    }
  }
  
  @media screen and (max-width: 741px){
    p {
      font-size: 0.875em;
    }
    
    h1 {
      font-size: 1.75em;
    }
    
    h2 {
      font-size: 1.375em;
    }
    #headertext {
      margin-top: -4em;
    }

    .infobox {
      margin: 1.875em 0 1.875em 0;
      padding: 1.875em 1.25em;
      width: 20em;
      height: 35em;
    }

    .infobox2 {
      margin: 1.875em 0 1.875em 0;
      padding: 1.875em 1.25em;
      width: 20em;
      height: 50em;
    }

    .ikoner-top {
      padding: 0 1em;
      margin: 4.5em 0 0 0;
    }
  }

@media screen and (max-width: 900px){
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px){
  .carousel img{
    width:100%
  }
}

